*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */

  /* primary */

  --primary-0: #f0efff;
  --primary-50: #d8d6ff;
  --primary-100: #c1beff;
  --primary-200: #aaa5ff;
  --primary-300: #938dff;
  --primary-400: #7b74ff;

  /* main */

  --primary-500: #645cff;
  --primary-600: #554ed9;
  --primary-700: #4640b3;
  --primary-800: #37338c;
  --primary-900: #282566;
  --primary-1000: #191740;
  --primary-1100: #0a0919;

  /* grey */

  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;

  /* rest */

  --black: #222;
  --green-dark: #0f5132;
  --green-light: #d1e7dd;
  --red-dark: #842029;
  --red-light: #f8d7da;
  --white: #fff;

  /* box shadows */

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* typography */

  --bodyFont: 'Montserrat', sans-serif;
  --defaultFontSize: 87.5%;
  --extraSmallText: 0.7em;
  --headingFont: 'Inconsolata', monospace;
  --smallText: 0.8em;

  /* rest */

  --backgroundColor: var(--grey-0);
  --borderRadius: 0.25rem;
  --fixed-width: 600px;
  --letterSpacing: 1px;
  --max-width: 1120px;
  --textColor: var(--grey-1000);
  --transition: 0.3s ease-in-out all;
}

html {
  font-size: var(--defaultFontSize);
}

@media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headingFont);
  font-weight: 400;
  letter-spacing: var(--letterSpacing);
  line-height: 1.3;
  margin: 0;
  margin-bottom: 1.38rem;
  text-transform: capitalize;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.form {
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  width: 100%;
}

label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

input,
textarea {
  background: var(--grey-0);
  border-color: transparent;
  border-radius: var(--borderRadius);
  border: 1px solid var(--grey-300);
  padding: 0.375rem 0.75rem;
  width: 100%;
}

.form-row {
  margin-bottom: 1rem;
}

textarea {
  height: 7rem;
  width: 100%;
}

::placeholder {
  color: var(--grey-600);
}

.form-alert {
  color: var(--red-dark);
  font-size: var(--extraSmallText);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

hr {
  border-top: var(--line);
}

button,
.btn {
  appearance: none;
  background: var(--primary-500);
  border-radius: var(--borderRadius);
  border: none;
  box-shadow: var(--shadow-1);
  color: var(--white);
  cursor: pointer;
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  text-transform: capitalize;
  transition: var(--transition);
}

button:hover,
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-2);
  color: var(--white);
}

button.small {
  font-size: var(--smallText);
  padding: 0.25rem 0.5rem;
}

button.hipster {
  background: var(--primary-50);
  box-shadow: var(--shadow-1);
  color: var(--primary-500);
}

button.hipster:hover {
  background: var(--primary-100);
  box-shadow: var(--shadow-2);
}

button.block {
  width: 100%;
}

/* Basic Classes */

.alert {
  border-color: transparent;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
}

.alert-success {
  background-color: var(--green-light);
  color: var(--green-dark);
}

.alert-danger {
  background-color: var(--red-light);
  color: var(--red-dark);
}

.container {
  padding: 5rem 0;
}

.container-center {
  margin: 0 auto;
  max-width: var(--max-width);
  width: 90vw;
}

.page {
  margin: 0 auto;
  max-width: var(--max-width);
  min-height: calc(100vh - (6rem + 4rem));
  width: 90vw;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.title-underline {
  background: var(--primary-600);
  height: 0.2rem;
  margin: 0 auto;
  width: 7rem;
}

form > *:last-child {
  margin-bottom: 0;
}

/* loading */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spinner 0.6s linear infinite;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  height: 6rem;
  margin: 0 auto;
  width: 6rem;
}

/* form loading */

.form-loading {
  position: relative;
}

.form-loading::before {
  background: var(--white);
  border-radius: var(--borderRadius);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.form-loading::after {
  animation: spinner 0.6s linear infinite;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  content: '';
  height: 6rem;
  left: calc(50% - 3rem);
  position: absolute;
  top: calc(50% - 3rem);
  width: 6rem;
}

/* END OF GLOBALS */

/* Navbar */

.navbar {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-center {
  max-width: var(--max-width);
  width: 90vw;
}

.nav-header {
  align-items: center;
  display: flex;
  height: 6rem;
  justify-content: space-between;
}

.nav-header img {
  margin-bottom: -9px;
  margin-left: -6px;
  width: 200px;
}

.nav-btn {
  padding: 0.15rem 0.75rem;
}

.nav-btn svg {
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 23.9375rem;
}

.nav-link {
  border-top: 1px solid var(--grey-500);
  color: var(--grey-1000);
  display: block;
  font-size: 1.5rem;
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
  text-align: center;
  text-transform: capitalize;
  transition: var(--transition);
}

.active-link {
  color: var(--primary-500);
}

.contact-link {
  display: flex;
  justify-content: center;
}

.contact-link a {
  padding: 0.15rem 1rem;
}

@media screen and (min-width: 992px) {
  .navbar {
    height: 6rem;
  }

  .nav-center {
    align-items: center;
    display: flex;
  }

  .nav-header {
    height: auto;
    margin-right: 2rem;
    padding: 0;
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    align-items: center;
    flex-direction: row;
    height: auto !important;
    width: 100%;
  }

  .nav-link {
    border-top: none;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0;
  }

  .contact-link {
    align-items: center;
    justify-content: flex-end;
    margin-right: 0;
    width: 100%;
  }
}

/* Footer */

.page-footer {
  align-items: center;
  background: var(--black);
  color: var(--white);
  display: flex;
  height: 4rem;
  justify-content: center;
  text-align: center;
}

.page-footer h5 {
  margin-bottom: 0;
}

.page-footer p {
  margin-bottom: 0;
}

.page-footer span,
.page-footer a {
  color: var(--primary-500);
}

/* Error */

.error-page {
  min-height: calc(100vh - (6rem + 4rem));
  padding-top: 3rem;
  text-align: center;
}

.error-page h1 {
  font-size: 9rem;
}

/* Contact */

.contact-page {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 992px) {
  .contact-page {
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
}

/* About */

.about-page h2 {
  font-weight: bold;
  text-transform: none;
}

.about-page {
  display: grid;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
}

.about-img {
  border-radius: var(--borderRadius);
  height: 500px;
}

@media screen and (min-width: 992px) {
  .about-page {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }

  .about-img {
    height: 100%;
  }
}

.featured-recipes > h5 {
  max-width: 100%;
  text-align: center;
}

/* Hero */

.hero-img {
  border-radius: var(--borderRadius);
  height: 100%;
}

.hero {
  height: 40vh;
  margin-bottom: 2rem;
  position: relative;
}

.hero-container {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--borderRadius);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-text {
  color: var(--white);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

/* Recipes */

.recipes-container {
  display: grid;
  gap: 2rem 1rem;
}

.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
}

.tags-container {
  display: flex;
  flex-direction: column;
  order: 1;
}

.tags-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tags-container h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.tags-list a {
  color: var(--grey-800);
  display: block;
  text-transform: capitalize;
  transition: var(--transition);
}

.tags-list a:hover {
  color: var(--primary-500);
}

.recipe {
  display: block;
}

.recipe-img {
  border-radius: var(--borderRadius);
  height: 15rem;
}

.recipe h5 {
  color: var(--textColor);
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0.25rem;
}

.recipe p {
  color: var(--grey-800);
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

@media screen and (min-width: 576px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }

  .recipe-img {
    height: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .recipes-container {
    gap: 1rem;
    grid-template-columns: 200px 1fr;
  }

  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }

  .recipe-img {
    height: 9rem;
  }

  .recipe p {
    font-size: 0.85rem;
  }

  .tags-container {
    order: 0;
  }

  .tags-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .recipe h5 {
    font-size: 1.15rem;
  }

  .recipes-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Tags */

.tags-page {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}

.tag {
  background: var(--grey-700);
  border-radius: var(--borderRadius);
  color: var(--white);
  padding: 0.75rem 0;
  text-align: center;
  transition: var(--transition);
}

.tag:hover {
  background: var(--primary-500);
}

.tag h5,
.tag p {
  margin-bottom: 0;
}

.tag h5 {
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .tags-page {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .tags-page {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Recipe Template */

.recipe-hero {
  display: grid;
  gap: 3rem;
}

.recipe-hero .about-img {
  height: 400px;
}

.recipe-icons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0;
  text-align: center;
}

.recipe-icons svg {
  font-size: 1.5rem;
}

.recipe-icons h5,
.recipe-icons p {
  font-size: 0.85em;
  margin-bottom: 0;
}

.recipe-icons h5 {
  font-weight: 600;
}

.recipe-icons p {
  color: var(--grey-800);
}

.recipe-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-weight: 600;
}

.recipe-tags a {
  background: var(--primary-500);
  border-radius: var(--borderRadius);
  color: var(--white);
  margin: 0 0.25rem;
  padding: 0.05rem 0.5rem;
  text-transform: capitalize;
}

@media screen and (min-width: 992px) {
  .recipe-hero {
    align-items: center;
    grid-template-columns: 4fr 5fr;
  }
}

.recipe-content {
  display: grid;
  gap: 2rem 5rem;
  padding: 3rem 0;
}

@media screen and (min-width: 992px) {
  .recipe-content {
    grid-template-columns: 2fr 1fr;
  }
}

.single-instruction header {
  align-items: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: auto 1fr;
}

.single-instruction header p {
  color: var(--primary-500);
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}

.single-instruction header div {
  background: var(--grey-500);
  height: 1px;
}

.second-column {
  display: grid;
  row-gap: 2rem;
}

.single-ingredient {
  border-bottom: 1px solid var(--grey-500);
  padding-bottom: 0.75rem;
}

.single-tool {
  border-bottom: 1px solid var(--grey-500);
  color: var(--primary-500);
  padding-bottom: 0.75rem;
  text-transform: capitalize;
}
